*{
	margin:0;
	padding: 0;
	font-family: sans-serif;
}
body {
		 background-color: gray;
		 /* background-repeat: no-repeat;*/
		  background-attachment: fixed; 
		background-size: cover;
		background-position: center;
		overflow: hidden;
		  background-size: 100% 100%;
		}
.logo{
		width: 50px;
		cursor: pointer;
	}
	 .icon-bar{
    background: darkorange;
  }
	.bubble img{
		width: 60px;
		border-radius: 200px;
		background:transparent;
		animation: bubble 7s linear infinite;


	}
	.bubble{
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-around;
		position: absolute;
		bottom: -13%;
	}
	@keyframes bubble{
		0%{
			transform: translateY(0);
			opacity: 0;	
					
		}
		40%{
			opacity: 0;
			width: 20px;
			
		}
		50%{
			
			opacity:1;	
				
		}
		70%{
			opacity:.1;
			box-shadow: 0 0 10px#00ff0a,0 0 20px #fff,0 0 40px#00ff,0 0 60px#00ff ,0 0 80px#00ff0a,0 0 100px#00ff0a ;
			
		}
		100%{
			transform: translateY(-50vh);
			opacity: .1;
			
		}
		


	}
	 
	.bubble img:nth-child(1){
		animation-delay: 2.5s;
		
		

	}
		.bubble img:nth-child(2){
		animation-delay: 4s;
		
		
	}
		.bubble img:nth-child(3){
		animation-delay: 5s;
		
	}
		.bubble img:nth-child(4){
		animation-delay: 8s;
	
		
	}
	.bubble img:nth-child(5){
		animation-delay: 3.5s;
	
	}
	.bubble img:nth-child(6){
		animation-delay: 6.2s;
		
	}
	.bubble img:nth-child(7){
		animation-delay: 3s;
	
	}
	.bubble img:nth-child(8){
		animation-delay: 1.5s;
		
	}
	.bubble img:nth-child(9){
		animation-delay: 4s;
		
		
	}
		.bubble img:nth-child(10){
		animation-delay: 5s;
		
	}
		.bubble img:nth-child(11){
		animation-delay: 8s;
	
		
	}
	.bubble img:nth-child(12){
		animation-delay: 3.5s;
	
	}
	.bubble img:nth-child(13){
		animation-delay: 6.2s;
		
	}
	.bubble img:nth-child(14){
		animation-delay: 3s;
	
	}
	.bubble img:nth-child(15){
		animation-delay: 1.5s;
		
	}
		.bubble img:nth-child(16){
		animation-delay: 8s;
	
		
	}
	.bubble img:nth-child(17){
		animation-delay: 3.5s;
	
	}
	.bubble img:nth-child(18){
		animation-delay: 6.2s;
		
	}
	.bubble img:nth-child(19){
		animation-delay: 3s;
	
	}
	.bubble img:nth-child(20){
		animation-delay: 1.5s;
		
	}
		
	/*..... bubble honve work end-----*/
/*	.navbar{
		width: 85%;
		height: 15%;
		margin: auto;
		display: inline;
		align-items: center;
		justify-content: space-between;
	}
	.navbar button{
		color: #fbfcfd;
		padding:10px 25px;
		background:transparent;
		border:1px solid #fff;
		border-radius: 20px;
		outline: none;
		cursor: pointer;
		display: flex;
		justify-content: space-around;
	}*/
	/*.side-bar{
		width: 50px;
		height: 100vh;
		background:linear-gradient(#005da9,#000729) ;
		position: absolute;
		right:  0;
		top:0;
	}
	.menu{
		display: block;
		width: 25px;
		margin:40px auto 0;
		cursor: pointer;
		background-color:#005da9;

	}*/
	.content{
		color: #fff;
		position: absolute;
		top:40%;
		left: 5%;
		transform: translateY(-50%);
		z-index: 2;

	}
	.content h1 {
		font-size: 60px;
		margin:10px 0 30px;
		line-height: 60px

	}
	.content button{
		color: #fbfcfd;
		padding:5px 20px;
		background:transparent;
		border:1px solid #fff;
		border-radius: 20px;
		outline: none;
		cursor: pointer;
		

	}
	.content button:hover{
		font-size: 15px;
		color:#fff;
		background:linear-gradient(#53888e,#858390,#7e989f,#003b60);
		box-shadow: 0 0 10px #235664,0 0 20px #00ff0b;

	}
	.dropdown{
		background:transparent;
		position: relative;
		top: 2px;
		margin-top: 10px;
		background-size: cover;
		
	}
	.btn-btn-color {
		color: #fff;
		background-color: #222222;

	}
	/*.btn{
		box-shadow: -2px -2px 8px rgba(255,255,255,1),
		-2px -2px 8px rgba(255,255,255,0.5),
		inset 2px 2px 8px rgba(255,255,255,0.1),
		2px 2px 8px rgba(255,255,255,0.5),
	} 
	.btn:hover{
		box-shadow: inset -2px -2px 8px rgba(255,255,255,1),
		inset -2px -2px 8px rgba(255,255,255,0.5),
		inset 2px 2px 8px rgba(255,255,255,0.1),
		 inset 2px 2px 8px rgba(255,255,255,0.5),
	}*/